// CATEGORY CSS
.category {
    margin-bottom: 20px;
    width: $fullWidth;
    margin: 0 auto;

    & .catName {
        color: red;
        display: flex;
        align-items: center;
        
        & i {
            margin-right: 1rem;
        }

        & h2 {
            font-size: 1.5rem;
        }
    }

    & .category1 {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        position: relative;

        & .newsBox {
            flex: 1 1;
            border-radius: 5px;
            position: relative;
            transition: all 0.3s ease; /* Add transition effect */

            &::after {
                content: "";
                position: absolute;
                justify-content: center;
                align-items: center;
                display: flex;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: #ffffff;
                transition: all 0.2s ease;
                z-index: -1;
            }

            &:hover::after {
                width: calc(100% + 1rem);
                height: calc(100% + 1rem);
                background-color: #F1EBEB;
                box-shadow: 1px 3px 4px 2px rgba(0, 0, 0, .25);

                transition: background-color 0.5s ease;
            }
            
            & img {
                width: 100%;
                height: auto;
                min-width: 10rem;
            }
        }

        .newsTitle {

            & h2 {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: block-axis;
                font-size: 1.3rem;
                margin-bottom: 0.5em;
            }

            & i{
                color: #8d8d8d;
            }

            & p {
                font-size: 14px;
                color: #343434;
                margin: 0;
            }
        }
    }
}


