.relativeNav {
    background-color: $NAV; //BG
    box-shadow: 1px 3px 4px 2px #00000060;
    z-index: 5;
}
// ARTICLE SCROLLBAR
.progress-bar {
    position: relative;
    top: 0;
    left: 0;
    background: #dbdbdb;
    width: 100%;
    height: 0.1rem;
}
.progress-bar__mask {
    background: #ff607a;
    width: 0;
    height: 100%;
    /* transition: width 0.1s ease; */
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

.left-section,
.center-section,
.right-section {
    display: flex;
    align-items: center;
}

.hamburger {
    cursor: pointer;
    margin-right: 1rem;
    font-size: 1.5rem;
    color: #333;
}

.logo {
    color: white;
    width: auto;
    height: 40px;
}

.navMenu {
    list-style: none;
    font-size: 1.5rem;
    display: flex;
    gap: 20px;
}

.navMenu li {
    position: relative;
    /* HOVER UNDERLINE ENABLE */
}

.navMenu li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #03695b;
    transition: width 0.3s ease;
}

.navMenu li:hover::after {
    width: 100%;
}

.navMenu li a {
    text-decoration: none;
    color: #121212;
    transition: color 0.3s;
}

.navMenu li a:hover {
    color: #343434;
}

.right-section {
    position: relative;
}

.right-section i {
    position: absolute;
    color: #333333;
    font-size: 1.6rem;
    padding: 1rem 0;
    cursor: pointer;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.right-section .fa-x {
    transform: translate(-100%, -50%);
}

.right-section #closeIcon {
    display: none;
}

.search-input {
    position: absolute;
    width: calc(100% - 6%); //88% width
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); // box-shadow: 1px 3px 4px 2px #757575be;
    display: none; // Invisible
    transition: display 0.2s ease-in-out;
}

.search-input.active {
    display: inline-block;
    /* Visible the Search Input */
}

.search-input input {
    display: block;
    width: calc(100% - 0.5rem);
    border: none;
    outline: none;
    padding: 1rem 0;
    text-align: center;
    background: #d3d3d3;
    animation: slideInRight 0.2s forwards;
}
@keyframes inputBox {
    from {
        margin-right: 0;
    }
    to {
        margin-right: 100%;
    }
}

.fa-bars,
.fa-x {
    transition: transform 0.3s ease;
}

.fa-x {
    transform: rotate(180deg);
}

/* RESNAV */
.fullResNav {
    display: none;
    width: 100%;
    background-color: $NTABBG;
    position: absolute;
    z-index: -1;
}

.resNav {
    display: block;
    /* Initial positioning */
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
}

.show {
    display: flex;
    opacity: 1;
    transition:
        opacity 0.3s ease,
        width 0.5s ease-in-out;
}

.resNav section {
    position: relative;
    display: flex;
    flex-direction: column;
}

.resNav section div {
    @extend .border__Bottom;
    @extend .paddingBottom__05;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.resNav section div i {
    display: none;
}

.resNav section ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.resNav section li {
    list-style: none;

    & a:hover {
        color: $CAT;
        border-bottom: 1px dotted $NTAB;
        transition: all 0.3s ease;
    }
}

@media screen and (max-width: 768px) {
    .navMenu {
        display: none;
    }
    .fullResNav {
        top: 0;
        position: relative !important;
        height: 100vh;
        overflow: hidden;
    }

    .resNav {
        display: block;
        overflow: scroll;
    }

    .resNav section div i {
        display: block;
    }
}

@media screen and (max-width: 1080px) {
    .navMenu {
        font-size: 1.2rem;
    }
    /* Last 4 Child shows none */
    .navMenu li:nth-last-child(-n + 4) {
        display: none;
    }
}
