@media screen and (max-width: 720px) {
    /* DATE BLOCK & SOCIAL MEDIA ICON */
    .dateBlock {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;
        margin-bottom: 10px;

        & .titlePopUp p {
            font-size: 4vw;
            color: $CAT;
            transition: all 0.5s ease;
            text-align: center;
            margin-bottom: -1px;
        }

        & .socialMedia{
            display: none;
            transition: all 0.5s ease;
        }
    }

    .navBar{

        & .logoNav{
            & .humburger-icon{
                font-size: 35px;
                color: $DES;
            }

            & .logo{
                & img{
                    width: 80px;
                }
            }
        }

        & .navMenu{
            display: flex;
            flex-wrap: nowrap;
            position: relative;
            font-size: 20px;
            justify-content: space-evenly;
            align-items: center;
            background-color: $NAV;
            line-height: 1;
            overflow: auto;
            overflow-y: hidden;
            & li{
                padding: 0 10px 10px 10px;
            }

            .navMenu:active {
                cursor: grabbing; /* Change cursor on active grabbing */
              }
              
              .navMenu::-webkit-scrollbar {
                width: 0; /* Hide scrollbar */
              }
              
              .navMenu li {
                padding: 0 10px 10px 10px;
              }
              
              /* Disable text selection while grabbing */
              .navMenu * {
                user-select: none;
              }
              
              /* Allow horizontal scrolling by mouse wheel */
              .navMenu {
                scroll-behavior: smooth; /* Enable smooth scrolling */
              }
              
              .navMenu:hover {
                overflow-x: auto; /* Allow horizontal scrolling on hover */
              }
        }


    }


























}