body {
  margin: auto;
  box-sizing: border-box;
  font-family: "SolaimanLipi", Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: #121212;
}

/* DATE BLOCK & SOCIAL MEDIA ICON */
.dateBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid #ccc;
  padding: 0 5%;
  /* -- 1 -- .dateBlock >> p */
  /* -- 2 -- .dateBlock >> .socialMedia >> a */
}
.dateBlock p {
  font-size: 16px;
  color: #121212;
}
.dateBlock .titlePopUp {
  position: relative;
  cursor: help; /* Change cursor to indicate it's clickable */
}
.dateBlock .socialMedia > a {
  display: inline-block;
  font-size: 20px;
}
.dateBlock .socialMedia > a > a:hover {
  color: #B22121;
  text-decoration: none;
  transition: 0.1s;
  transform: scale(1.1);
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.stickNav {
  position: sticky;
  top: 0;
  z-index: 4;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3c3564;
  padding: 0 5%;
  z-index: 4;
}

.logoNav {
  display: flex;
  align-items: center;
  gap: 1em;
}

.logoNav .humburger-icon {
  font-size: 30px;
}

.logoNav img {
  width: 100px;
  height: auto;
}

.navMenu {
  list-style: none;
  display: flex;
  gap: 35px;
  font-size: 26px;
}
.navMenu li {
  position: relative;
}
.navMenu li a {
  text-decoration: none;
  text-wrap: nowrap;
  color: #ffffff;
  position: relative;
  transition: color 0.3s ease;
}
.navMenu li a:hover {
  color: #3ee3e3;
}
.navMenu li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #a0a0a0;
  transition: width 0.3s ease;
}
.navMenu li:hover::after {
  width: 100%;
}

.search-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.search-box input {
  position: absolute;
  height: 70px;
  display: none;
  transform: translateX(-100%);
  border: 1px solid #ffd3d3;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  padding: 0 10px;
  text-align: center;
  transition: width 0.5s cubic-bezier(0, 1.22, 0.66, 1.39);
}
.search-box button {
  height: 70px;
  width: 70px;
  border: none;
  outline: none;
  color: #F8F8FF;
  border-color: #3c3564;
  border-style: solid;
  border-radius: 50%;
  background-color: #9c4787;
  cursor: pointer;
  transition: all 0.3s;
}
.search-box button:focus,
.search-box button:active {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.search-box button i {
  font-size: 25px;
  position: relative;
  transform: translateX(-10%);
}

.resNav {
  width: 100%;
  position: relative;
  display: none;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background: #fda9a9;
  transition: all 0.3s ease;
  z-index: 3;
}
.resNav section div {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d3d3d3;
  width: 90%;
  margin: 0 auto;
}
.resNav section div h2 {
  line-height: 1;
}
.resNav section div i {
  display: none;
}
.resNav a {
  font-size: 28px;
}
.resNav section {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.resNav.show {
  display: flex;
}
.resNav ul {
  width: 90%;
  text-align: left;
}
.resNav li {
  list-style: none;
  margin-top: 0.1vw;
  padding-bottom: 5px;
}
.resNav li i {
  color: #a0a0a0;
  font-size: 15px;
}
.resNav li:hover i::before {
  content: "\f101";
}
.resNav li a {
  padding-bottom: 5px;
}
.resNav li a:hover {
  color: #B22121;
  border-bottom: 1px dotted #943E3E;
  transition: all 0.3s ease;
}

@media screen and (max-width: 720px) {
  .resNav {
    background-color: #3c3564;
    padding: 20px;
  }
  .resNav i.fa-chevron-right {
    display: inline;
  }
  .resNav section div {
    justify-content: center;
  }
  .navMenu {
    display: none;
  }
}
.marqueeBlock {
  margin-bottom: 20px;
  position: relative;
  width: 100%;
  margin-top: 20px;
  height: 50px;
  background-color: #f8f8ff;
  display: flex;
  align-items: center;
}
.marqueeBlock .highlight {
  position: absolute;
  height: 50px;
  background-color: #f8f8ff;
  display: flex;
  align-items: center;
}
.marqueeBlock .highlight h2 {
  font-size: 1.8rem;
  position: absolute;
  margin-left: 5%;
  color: #121212;
  z-index: 2;
}
.marqueeBlock .highlight .marquee-bg {
  position: relative;
  width: 5.5rem;
  height: 100%;
}
.marqueeBlock .highlight .marquee-bg::after {
  content: "";
  position: relative;
  display: block;
  width: 13em;
  height: 100px;
  top: 0;
  border-right: 20px solid transparent;
  border-left: 0 solid transparent;
  border-top: 50px solid #e3e3e3;
  z-index: 1;
}
.marqueeBlock .highlight .marquee ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: auto;
  float: left;
}
.marqueeBlock .highlight .marquee ul li {
  padding-right: 2.5rem;
}
.marqueeBlock .highlight .marquee ul li a {
  font-size: 1.3rem;
}
.marqueeBlock .highlight .marquee ul li a:hover {
  color: red;
}

.TopLeadContainer .row1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* Two equal-width columns */
  gap: 20px;
  /* Gap between grid items */
  grid-template-areas: "item1 item1 item2 item3" "item1 item1 item4 item5";
  width: 90%;
  margin-bottom: 20px !important;
  margin: 0 auto;
  /* over lay image  */
}
.TopLeadContainer .row1 .item1 {
  grid-area: item1;
}
.TopLeadContainer .row1 .item2 {
  grid-area: item2;
  width: calc(100% - 0.5rem);
}
.TopLeadContainer .row1 .item3 {
  grid-area: item3;
  width: calc(100% - 0.5rem);
}
.TopLeadContainer .row1 .item4 {
  grid-area: item4;
  width: calc(100% - 0.5rem);
}
.TopLeadContainer .row1 .item5 {
  grid-area: item5;
  width: calc(100% - 0.5rem);
}
.TopLeadContainer .row1 .leadcontent {
  flex: 1;
  position: relative;
  overflow: hidden;
}
.TopLeadContainer .row1 .leadcontent img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.6s ease;
}
.TopLeadContainer .row1 .leadcontent:hover img {
  transform: scale(1.1);
}
.TopLeadContainer .row1 .leadcontent .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: rgb(255, 255, 255);
  z-index: 1;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.8) 100%);
}
.TopLeadContainer .row1 .leadcontent .overlay h2, .TopLeadContainer .row1 .leadcontent .overlay h3 {
  margin-left: 2rem;
}

.category {
  margin-bottom: 20px;
  width: 90%;
  margin: 0 auto;
}
.category .catName {
  color: red;
  display: flex;
  align-items: center;
}
.category .catName i {
  margin-right: 1rem;
}
.category .catName h2 {
  font-size: 1.5rem;
}
.category .category1 {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  position: relative;
}
.category .category1 .newsBox {
  flex: 1 1;
  border-radius: 5px;
  position: relative;
  transition: all 0.3s ease; /* Add transition effect */
}
.category .category1 .newsBox::after {
  content: "";
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  transition: all 0.2s ease;
  z-index: -1;
}
.category .category1 .newsBox:hover::after {
  width: calc(100% + 1rem);
  height: calc(100% + 1rem);
  background-color: #F1EBEB;
  box-shadow: 1px 3px 4px 2px rgba(0, 0, 0, 0.25);
  transition: background-color 0.5s ease;
}
.category .category1 .newsBox img {
  width: 100%;
  height: auto;
  min-width: 10rem;
}
.category .category1 .newsTitle h2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: block-axis;
  font-size: 1.3rem;
  margin-bottom: 0.5em;
}
.category .category1 .newsTitle i {
  color: #8d8d8d;
}
.category .category1 .newsTitle p {
  font-size: 14px;
  color: #343434;
  margin: 0;
}

@media screen and (max-width: 1080px) {
  .TopLeadContainer .row1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "item1 item1" "item2 item3" "item4 item5";
  }
  .TopLeadContainer .row1 .overlay h2 {
    font-size: 1.2em;
  }
  .TopLeadContainer .row1 .overlay h3 {
    font-size: 1em;
    margin-left: 2rem;
  }
}
@media screen and (max-width: 768px) {
  /* DATE BLOCK & SOCIAL MEDIA ICON */
  .dateBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
  }
  .dateBlock .titlePopUp p {
    font-size: 4vw;
    color: #B22121;
    transition: all 0.5s ease;
    text-align: center;
    margin-bottom: -1px;
  }
  .dateBlock .socialMedia {
    display: none;
    transition: all 0.5s ease;
  }
  .resNav div h2 {
    line-height: 0;
  }
  .resNav div i {
    padding-right: 2%;
    display: block;
  }
  .resNav section ul li i {
    margin-right: 1em;
  }
  .marqueeBlock {
    height: 40px;
  }
  .marqueeBlock .highlight {
    height: 40px;
  }
  .marqueeBlock .highlight h2 {
    font-size: 1.3rem;
  }
  .marqueeBlock .highlight .marquee-bg {
    position: relative;
    width: 5rem;
    height: 100%;
  }
  .marqueeBlock .highlight .marquee-bg::after {
    content: "";
    position: relative;
    display: block;
    width: 5.8rem;
    height: 100px;
    top: 0;
    border-right: 20px solid transparent;
    border-left: 0 solid transparent;
    border-top: 40px solid #e3e3e3;
    z-index: 1;
  }
  .marqueeBlock .highlight .marquee ul li a {
    font-size: 1.1rem;
  }
  .TopLeadContainer .row1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "item1" "item2" "item3" "item4" "item5";
  }
  .TopLeadContainer .row1 .overlay h2 {
    font-size: 1.2em;
  }
  .TopLeadContainer .row1 .overlay h3 {
    font-size: 1em;
    margin-left: 2rem;
  }
  .newsBox {
    flex: 1 30%;
  }
}
@media screen and (max-width: 576px) {
  .newsBox {
    flex-basis: calc(100% - 1rem);
  }
}
.HomeAds1 {
  background-color: grey;
  width: 90%;
  height: 226px;
  margin: 0 auto;
  margin-top: 30px;
}/*# sourceMappingURL=style.css.map */