body {
  margin: auto;
  width: 90%;
  box-sizing: border-box;
  font-family: "SolaimanLipi", Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: #121212;
}

/* DATE BLOCK & SOCIAL MEDIA ICON */
.dateBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid #ccc;
}

/* -- 1 -- .dateBlock >> p */
.dateBlock p {
  font-size: 1.2vw;
  color: #121212;
}

.titlePopUp {
  position: relative;
  cursor: help; /* Change cursor to indicate it's clickable */
}

/* -- 2 -- .dateBlock >> .socialMedia >> a */
.socialMedia > a {
  display: inline-block;
  font-size: 1.5vw;
}

.socialMedia > a:hover {
  color: #B22121;
  text-decoration: none;
  transition: 0.1s;
  transform: scale(1.1);
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F1EBEB;
  position: relative;
}

.logoNav {
  display: flex;
  align-items: center;
  gap: 2vw;
}

.logoNav .humburger-icon {
  font-size: 2vw;
}

.logoNav img {
  width: 5vw;
  height: auto;
}

.navMenu {
  list-style: none;
  display: flex;
  gap: 2vw;
  font-size: 2vw;
}
.navMenu li {
  position: relative;
}
.navMenu li a {
  text-decoration: none;
  color: #121212;
  position: relative;
  transition: color 0.3s ease;
}
.navMenu li a:hover {
  color: #343434;
}
.navMenu li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #03695b;
  transition: width 0.3s ease;
}
.navMenu li:hover::after {
  width: 100%;
}

.search-box {
  transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.search-box input {
  position: absolute;
  height: 2.8rem;
  width: 0;
  display: none;
  transform: translateX(-100%);
  border: 1px solid #ffd3d3;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  padding: 0 10px;
  text-align: center;
  transition: width 0.5s cubic-bezier(0, 1.22, 0.66, 1.39);
}
.search-box input.active {
  width: 80vw;
  display: block;
  border: 1px solid #be0101;
}
.search-box button {
  height: 40px;
  width: 40px;
  border: none;
  outline: none;
  color: #F8F8FF;
  padding: 10px;
  border-color: #F1EBEB;
  border-style: solid;
  border-radius: 50%;
  background-color: #9c4787;
  cursor: pointer;
  transition: all 0.3s;
}
.search-box button:focus,
.search-box button:active {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.search-box button i {
  position: relative;
  transform: translateX(-10%);
}

.resNav {
  display: none;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  background: #CEBFBF;
  border-bottom: 1px solid #dddddd;
}
.resNav h2 {
  font-size: 2vw;
  margin-bottom: 0.5vw;
  border-bottom: 1px solid #ccc;
}
.resNav a {
  font-size: 1.7vw;
}
.resNav section {
  transition: all 0.5s ease;
}

.resNav.show {
  display: flex;
}

.resNav ul {
  transition: all 0.5s ease-in-out;
}

.resNav li {
  list-style: none;
  margin-top: 0.1vw;
  padding-bottom: 5px;
}
.resNav li i {
  color: #03695b;
  font-size: 1vw;
}
.resNav li:hover i {
  transform: rotate(360deg);
  transition: transform 0.4s ease-in-out;
}
.resNav li:hover i::before {
  transform: rotate(360deg);
  content: "\f101";
}
.resNav li a {
  padding-bottom: 5px;
}
.resNav li a:hover {
  color: #B22121;
  border-bottom: 1px dotted #943E3E;
  transition: all 0.3s ease;
}

@media screen and (max-width: 600px) {
  /* DATE BLOCK & SOCIAL MEDIA ICON */
  .dateBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
  }
  /* -- 1 -- .dateBlock >> p */
  .dateBlock p {
    color: #121212;
  }
  /* -- 2 -- .dateBlock >> .socialMedia >> a */
  .socialMedia > a {
    display: none;
  }
  .navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F1EBEB;
  }
  .logoNav {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .logoNav .humburger-icon {
    font-size: 4vw;
  }
  .logoNav img {
    width: 10vw;
  }
  .navMenu {
    list-style: none;
    display: none;
    gap: 2vw;
    font-size: 2vw;
  }
  .navMenu li {
    position: relative;
  }
  .navMenu li a {
    text-decoration: none;
    color: #121212;
    position: relative;
    transition: color 0.3s ease;
  }
  .navMenu li a:hover {
    color: #343434;
  }
  .navMenu li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #03695b;
    transition: width 0.3s ease;
  }
  .navMenu li:hover::after {
    width: 100%;
  }
  .search-box {
    transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
    display: none;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  .search-box input {
    position: absolute;
    height: 2.8rem;
    width: 0;
    display: none;
    transform: translateX(-100%);
    border: 1px solid #ffd3d3;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    padding: 0 10px;
    text-align: center;
    transition: width 0.5s cubic-bezier(0, 1.22, 0.66, 1.39);
  }
  .search-box input.active {
    width: 80vw;
    display: block;
    border: 1px solid #be0101;
  }
  .search-box button {
    height: 40px;
    width: 40px;
    border: none;
    outline: none;
    color: #F8F8FF;
    padding: 10px;
    border-color: #F1EBEB;
    border-style: solid;
    border-radius: 50%;
    background-color: #9c4787;
    cursor: pointer;
    transition: all 0.3s;
  }
  .search-box button:focus,
  .search-box button:active {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  }
  .search-box button i {
    position: relative;
    transform: translateX(-10%);
  }
  .resNav {
    display: none;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    background: #CEBFBF;
    border-bottom: 1px solid #dddddd;
  }
  .resNav h2 {
    font-size: 2vw;
    margin-bottom: 0.5vw;
    border-bottom: 1px solid #ccc;
  }
  .resNav a {
    font-size: 1.7vw;
  }
  .resNav section {
    transition: all 0.5s ease;
  }
  .resNav.show {
    display: flex;
  }
  .resNav ul {
    transition: all 0.5s ease-in-out;
  }
  .resNav li {
    list-style: none;
    margin-top: 0.1vw;
    padding-bottom: 5px;
  }
  .resNav li i {
    color: #03695b;
    font-size: 1vw;
  }
  .resNav li:hover i {
    transform: rotate(360deg);
    transition: transform 0.4s ease-in-out;
  }
  .resNav li:hover i::before {
    transform: rotate(360deg);
    content: "\f101";
  }
  .resNav li a {
    padding-bottom: 5px;
  }
  .resNav li a:hover {
    color: #B22121;
    border-bottom: 1px dotted #943E3E;
    transition: all 0.3s ease;
  }
}/*# sourceMappingURL=style.css.map */