body {
  margin: auto;
  width: 90%;
  box-sizing: border-box;
  font-family: "SolaimanLipi", Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: #121212;
}

/* DATE BLOCK & SOCIAL MEDIA ICON */
.dateBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid #ccc;
  /* -- 1 -- .dateBlock >> p */
  /* -- 2 -- .dateBlock >> .socialMedia >> a */
}
.dateBlock p {
  font-size: 16px;
  color: #121212;
}
.dateBlock .titlePopUp {
  position: relative;
  cursor: help; /* Change cursor to indicate it's clickable */
}
.dateBlock .socialMedia > a {
  display: inline-block;
  font-size: 20px;
}
.dateBlock .socialMedia > a > a:hover {
  color: #B22121;
  text-decoration: none;
  transition: 0.1s;
  transform: scale(1.1);
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F1EBEB;
  position: relative;
}

.logoNav {
  display: flex;
  align-items: center;
  gap: 2vw;
}

.logoNav .humburger-icon {
  font-size: 30px;
}

.logoNav img {
  width: 100px;
  height: auto;
}

.navMenu {
  list-style: none;
  display: flex;
  gap: 2vw;
  font-size: 2vw;
}
.navMenu li {
  position: relative;
}
.navMenu li a {
  text-decoration: none;
  color: #121212;
  position: relative;
  transition: color 0.3s ease;
}
.navMenu li a:hover {
  color: #343434;
}
.navMenu li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #03695b;
  transition: width 0.3s ease;
}
.navMenu li:hover::after {
  width: 100%;
}

.search-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.search-box input {
  position: absolute;
  height: 2.4rem;
  display: none;
  transform: translateX(-100%);
  border: 1px solid #ffd3d3;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  padding: 0 10px;
  text-align: center;
  transition: width 0.5s cubic-bezier(0, 1.22, 0.66, 1.39);
}
.search-box button {
  height: 40px;
  width: 40px;
  border: none;
  outline: none;
  color: #F8F8FF;
  padding: 10px;
  border-color: #F1EBEB;
  border-style: solid;
  border-radius: 50%;
  background-color: #9c4787;
  cursor: pointer;
  transition: all 0.3s;
}
.search-box button:focus,
.search-box button:active {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.search-box button i {
  position: relative;
  transform: translateX(-10%);
}

.resNav {
  display: none;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  background: #CEBFBF;
  border-bottom: 1px solid #dddddd;
}
.resNav h2 {
  font-size: 2vw;
  margin-bottom: 0.5vw;
  border-bottom: 1px solid #ccc;
}
.resNav a {
  font-size: 1.7vw;
}
.resNav section {
  transition: all 0.5s ease;
}

.resNav.show {
  display: flex;
}

.resNav ul {
  transition: all 0.5s ease-in-out;
}

.resNav li {
  list-style: none;
  margin-top: 0.1vw;
  padding-bottom: 5px;
}
.resNav li i {
  color: #03695b;
  font-size: 1vw;
}
.resNav li:hover i {
  transform: rotate(360deg);
  transition: transform 0.4s ease-in-out;
}
.resNav li:hover i::before {
  transform: rotate(360deg);
  content: "\f101";
}
.resNav li a {
  padding-bottom: 5px;
}
.resNav li a:hover {
  color: #B22121;
  border-bottom: 1px dotted #943E3E;
  transition: all 0.3s ease;
}

@media screen and (max-width: 720px) {
  /* DATE BLOCK & SOCIAL MEDIA ICON */
  .dateBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
  }
  .dateBlock .titlePopUp p {
    font-size: 4vw;
    color: #B22121;
    transition: all 0.5s ease;
    text-align: center;
    margin-bottom: -1px;
  }
  .dateBlock .socialMedia {
    display: none;
    transition: all 0.5s ease;
  }
  .navBar .logoNav .humburger-icon {
    font-size: 35px;
    color: #343434;
  }
  .navBar .logoNav .logo img {
    width: 80px;
  }
  .navBar .navMenu {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    font-size: 20px;
    justify-content: space-evenly;
    align-items: center;
    background-color: #F1EBEB;
    line-height: 1;
    overflow: auto;
    overflow-y: hidden;
    /* Disable text selection while grabbing */
    /* Allow horizontal scrolling by mouse wheel */
  }
  .navBar .navMenu li {
    padding: 0 10px 10px 10px;
  }
  .navBar .navMenu .navMenu:active {
    cursor: grabbing; /* Change cursor on active grabbing */
  }
  .navBar .navMenu .navMenu::-webkit-scrollbar {
    width: 0; /* Hide scrollbar */
  }
  .navBar .navMenu .navMenu li {
    padding: 0 10px 10px 10px;
  }
  .navBar .navMenu .navMenu * {
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  .navBar .navMenu .navMenu {
    scroll-behavior: smooth; /* Enable smooth scrolling */
  }
  .navBar .navMenu .navMenu:hover {
    overflow-x: auto; /* Allow horizontal scrolling on hover */
  }
}/*# sourceMappingURL=style.css.map */