body {
    box-sizing: border-box;
    margin: auto;
    font-family: "SolaimanLipi", Helvetica, sans-serif;
}

@import "var";

a {
    color: $TXT;
    text-decoration: none;
}

// DATE BLOCK
@import "dateBlock";

//NAV BAR
// @import "navBar";
@import 'nav';

// MARQUEE
@import "marquee";

//TOP LEAD CONTAINER
@import "top_lead";

// CATAGORY 1
@import "catagory1";

// ADS
@import "ads";

// 3 Column clm3
@import "clm3";

// GALLERY CAROUSAL
@import 'gallery';

//FOOTER
@import "footer";


// 2ND PAGE
@import 'newsView';
// Responsive
@import "responsive";

// home ads 1
.HomeAds1 {
    margin: 0 auto;
    margin-top: 30px;
    background-color: grey;
    width: 90%;
    height: 226px;
}
